# Supervised Learning Capstone

Dataset: https://www.kaggle.com/austinreese/craigslist-carstrucks-data

In [1]:
# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
from wordcloud import WordCloud

# Display preferences
%matplotlib inline
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', 50)
pd.set_option('display.max_rows', 2000)

In [2]:
# Create dataframe
cars = pd.read_csv('../../data/vehicles.csv')

## Data Cleaning

To begin, we'll start by taking a look at the dimensions of this dataset.

In [3]:
print('Number of rows: {}'.format(cars.shape[0]))
print('Number of columns: {}'.format(cars.shape[1]))

Number of rows: 509577
Number of columns: 25

Let's now review the column types and missing values.

In [4]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 509577 entries, 0 to 509576
Data columns (total 25 columns):
id              509577 non-null int64
url             509577 non-null object
region          509577 non-null object
region_url      509577 non-null object
price           509577 non-null int64
year            508050 non-null float64
manufacturer    486813 non-null object
model           501588 non-null object
condition       277643 non-null object
cylinders       309894 non-null object
fuel            505592 non-null object
odometer        417253 non-null float64
title_status    506515 non-null object
transmission    505858 non-null object
vin             302152 non-null object
drive           365434 non-null object
size            167574 non-null object
type            368046 non-null object
paint_color     344871 non-null object
image_url       509563 non-null object
description     509561 non-null object
county          0 non-null float64
state           509577 non-null object
lat             499285 non-null float64
long            499285 non-null float64
dtypes: float64(5), int64(2), object(18)
memory usage: 97.2+ MB

There are a total of 25 columns in this dataset: 5 are of type float, 2 are of type integer and 18 are of type string.

In [5]:
cars.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,vin,drive,size,type,paint_color,image_url,description,county,state,lat,long
0,7034441763,https://saltlakecity.craigslist.org/cto/d/salt...,salt lake city,https://saltlakecity.craigslist.org,17899,2012.0,volkswagen,golf r,excellent,4 cylinders,gas,63500.0,clean,manual,WVWPF7AJ6CW316713,4wd,compact,hatchback,black,https://images.craigslist.org/00G0G_fTLDWM5Xyv...,PRICE REDUCED! -Garage kept -Low Miles (63K)...,NaN,ut,40.7372,-111.858
1,7034440610,https://saltlakecity.craigslist.org/ctd/d/sand...,salt lake city,https://saltlakecity.craigslist.org,0,2016.0,ford,f-150,excellent,NaN,gas,10.0,clean,automatic,1FTMF1EP3GKF13544,4wd,NaN,NaN,NaN,https://images.craigslist.org/00v0v_7Cu0buIofU...,Drive it home today. Call (Or Text) us now !!C...,NaN,ut,40.5881,-111.884
2,7034440588,https://saltlakecity.craigslist.org/ctd/d/sand...,salt lake city,https://saltlakecity.craigslist.org,46463,2015.0,gmc,sierra 1500,excellent,NaN,gas,7554.0,clean,automatic,3GTU2WEC6FG228025,4wd,NaN,NaN,white,https://images.craigslist.org/01515_lPvJ9bfbdY...,Drive it home today. Call (Or Text) us now !!C...,NaN,ut,40.5881,-111.884
3,7034440546,https://saltlakecity.craigslist.org/ctd/d/sand...,salt lake city,https://saltlakecity.craigslist.org,0,2016.0,ford,f-150,excellent,NaN,gas,10.0,clean,automatic,1FTEX1EF6GKD25447,4wd,NaN,NaN,NaN,https://images.craigslist.org/00T0T_6Rjfp3NS4O...,Drive it home today. Call (Or Text) us now !!C...,NaN,ut,40.5881,-111.884
4,7034406932,https://saltlakecity.craigslist.org/ctd/d/evan...,salt lake city,https://saltlakecity.craigslist.org,49999,2018.0,ford,f-450,NaN,NaN,diesel,70150.0,clean,automatic,1FT8W4DT8GEA90427,4wd,NaN,pickup,white,https://images.craigslist.org/00W0W_8yIUwRBXXd...,2018 Ford F-350 F350 F 350 SD Lariat Crew Cab ...,NaN,ut,40.3744,-104.694

In [6]:
cars.tail()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,vin,drive,size,type,paint_color,image_url,description,county,state,lat,long
509572,7034554007,https://saltlakecity.craigslist.org/ctd/d/engl...,salt lake city,https://saltlakecity.craigslist.org,15476,2012.0,nissan,xterra,NaN,6 cylinders,gas,103135.0,clean,automatic,5N1AN0NW0CC520698,4wd,NaN,SUV,NaN,https://images.craigslist.org/00z0z_3ERBmVoD5s...,Maximum Auto SearchÂ Â Â Â Â Â Â Â STOCK #:Â Â...,NaN,ut,39.6405,-104.961
509573,7034538385,https://saltlakecity.craigslist.org/ctd/d/engl...,salt lake city,https://saltlakecity.craigslist.org,9881,2008.0,bmw,3 series 328i,NaN,6 cylinders,gas,108277.0,clean,automatic,WBAWR33558P150498,rwd,NaN,convertible,NaN,https://images.craigslist.org/01313_38rMiNAW18...,Maximum Auto SearchÂ Â Â Â Â Â Â Â STOCK #:Â Â...,NaN,ut,39.6405,-104.961
509574,7034523643,https://saltlakecity.craigslist.org/ctd/d/salm...,salt lake city,https://saltlakecity.craigslist.org,24895,2019.0,jeep,cherokee,NaN,4 cylinders,gas,6973.0,clean,automatic,1C4PJMLB0KD267506,4wd,NaN,SUV,white,https://images.craigslist.org/00606_dOtGS5RmTi...,"2019 Jeep Cherokee Latitude Plus -- $24,895 ...",NaN,ut,45.1637,-113.894
509575,7034458858,https://saltlakecity.craigslist.org/cto/d/ogde...,salt lake city,https://saltlakecity.craigslist.org,32500,2017.0,NaN,Porsche Macan GTS,excellent,6 cylinders,gas,37520.0,clean,automatic,NaN,NaN,NaN,NaN,red,https://images.craigslist.org/00s0s_32yAwr0KMt...,2017 Porsche Macan GTS Carmine Red w/ Black ...,NaN,ut,41.3112,-111.969
509576,7034389294,https://saltlakecity.craigslist.org/ctd/d/evan...,salt lake city,https://saltlakecity.craigslist.org,12900,2012.0,ram,NaN,NaN,NaN,gas,152296.0,clean,automatic,3C6TD5HT1CG309173,4wd,NaN,pickup,black,https://images.craigslist.org/00E0E_3FtnUA2XPT...,"2012 RAM 2500 4WD Crew Cab 169"" ST"" Offere...",NaN,ut,40.3744,-104.694

In [7]:
cars.describe()

,id,price,year,odometer,county,lat,long
count,5.095770e+05,5.095770e+05,508050.000000,4.172530e+05,0.0,499285.000000,499285.000000
mean,7.044176e+09,5.479684e+04,2009.662236,1.017300e+05,NaN,38.453818,-94.313886
std,4.937219e+06,9.575025e+06,8.567953,1.073790e+05,NaN,5.902152,17.717653
min,6.995212e+09,0.000000e+00,1900.000000,0.000000e+00,NaN,-82.688100,-165.935000
25%,7.040802e+09,3.995000e+03,2007.000000,4.948800e+04,NaN,34.557400,-108.506000
50%,7.045325e+09,9.377000e+03,2011.000000,9.489400e+04,NaN,39.145300,-88.678800
75%,7.048556e+09,1.795500e+04,2015.000000,1.387780e+05,NaN,42.449000,-81.111400
max,7.050103e+09,3.600029e+09,2021.000000,1.000000e+07,NaN,81.569300,94.124800

In [8]:
cars.describe(include=['O'])

,url,region,region_url,manufacturer,model,condition,cylinders,fuel,title_status,transmission,vin,drive,size,type,paint_color,image_url,description,state
count,509577,509577,509577,486813,501588,277643,309894,505592,506515,505858,302152,365434,167574,368046,344871,509563,509561,509577
unique,509577,403,413,43,35852,6,8,5,6,3,180145,3,4,13,12,349468,427803,51
top,https://cedarrapids.craigslist.org/ctd/d/vinto...,fayetteville,https://modesto.craigslist.org,ford,f-150,excellent,6 cylinders,gas,clean,automatic,WDC0G4JB4HF164180,4wd,full-size,sedan,white,https://images.craigslist.org/00i0i_ChcqziILO2...,CLEAN TITLE NO ACCEDINTS 3 YEARS WARRANTY D...,ca
freq,1,4501,2992,92601,11341,140663,111940,441688,487040,457659,114,170482,90481,93225,89322,167,160,52780

## Missing Values and Outliers

I summed up the missing values so we can see the total number for each variable.

In [9]:
# Missing values for each variable
cars.isnull().sum().sort_values()

id                   0
url                  0
region               0
region_url           0
price                0
state                0
image_url           14
description         16
year              1527
title_status      3062
transmission      3719
fuel              3985
model             7989
lat              10292
long             10292
manufacturer     22764
odometer         92324
type            141531
drive           144143
paint_color     164706
cylinders       199683
vin             207425
condition       231934
size            342003
county          509577
dtype: int64

I would also like to show what the percentage of missing values for each variable.

In [10]:
# Percentage of missing values for each variable
round((cars.isnull().sum() / len(cars)) * 100, 4).sort_values()

id                0.0000
url               0.0000
region            0.0000
region_url        0.0000
price             0.0000
state             0.0000
image_url         0.0027
description       0.0031
year              0.2997
title_status      0.6009
transmission      0.7298
fuel              0.7820
model             1.5678
lat               2.0197
long              2.0197
manufacturer      4.4672
odometer         18.1178
type             27.7742
drive            28.2868
paint_color      32.3221
cylinders        39.1860
vin              40.7053
condition        45.5150
size             67.1151
county          100.0000
dtype: float64

In [11]:
# Drop id, url, region_url, image_url, county and vin
cars = cars.drop(['id', 'url', 'region_url', 'image_url', 'county', 'vin'], axis=1)

# Drop rows
cars = cars.dropna(subset=['description'])

I decided to drop ```url```, ```region_url``` and ```image_url``` from the dataset because the URLs don't add any value. In addition, ```id```, ```county``` and ```vin``` were removed. ```county``` only contains missing values and ```id``` and ```vin``` are unique identifiers that don't add any value to the target variable.

I also removed 16 records with missing values from ```description```.

In [12]:
# Print unique values, number of unique values and value frequency details
def variable_details(column):
    print('There are {} missing values in {}\n'.format(cars[column].isnull().sum(), column))
    print('The are {} unique values in {}\n'.format(cars[column].nunique(), column))
    print('The unique values are \n{}\n'.format(cars[column].unique()))
    print('The value frequency is \n{}'.format(cars[column].value_counts()))

I created the ```variable_details``` function to print out number of missing values, unique values, number of unique values and value frequency for each column.

### Missing values for ```year```

In [13]:
# Print out variable details
variable_details('year')

There are 1513 missing values in year

The are 114 unique values in year

The unique values are
[2012. 2016. 2015. 2018. 2009. 2017. 2007. 2013. 1994. 2004. 2014. 2002.
 2003. 2019. 2010. 2008. 2001.   nan 1992. 2011. 1999. 1935. 2006. 2005.
 1981. 1950. 1955. 1977. 2000. 1951. 1998. 1986. 1995. 1997. 1993. 1991.
 1969. 2020. 1964. 1970. 1980. 1972. 1978. 1990. 1931. 1983. 1996. 1974.
 1971. 1966. 1988. 1952. 1943. 1940. 1956. 1982. 1987. 1959. 1958. 1973.
 1948. 1976. 1984. 1960. 1954. 1962. 1942. 1989. 1968. 1979. 1985. 1965.
 1967. 1963. 1939. 1953. 1929. 1949. 1917. 1947. 1932. 1975. 1946. 1957.
 1961. 1937. 1941. 1938. 1936. 1928. 1934. 1933. 1900. 2021. 1926. 1923.
 1919. 1930. 1920. 1927. 1901. 1902. 1925. 1918. 1912. 1922. 1924. 1945.
 1914. 1916. 1911. 1915. 1921. 1944. 1903.]

The value frequency is
2016.0    41171
2015.0    37311
2014.0    35626
2013.0    35106
2012.0    33493
2017.0    33450
2011.0    31424
2008.0    28543
2007.0    26193
2010.0    24307
2018.0    22486
2006.0    22177
2009.0    19327
2005.0    18380
2004.0    16387
2003.0    12769
2019.0    12517
2002.0     9613
2001.0     7935
2000.0     6394
1999.0     5006
1998.0     3298
1997.0     2753
1996.0     1845
1995.0     1793
1994.0     1395
2020.0     1257
1993.0     1061
1992.0      870
1991.0      754
1989.0      714
1990.0      689
1987.0      629
1988.0      587
1986.0      552
1985.0      538
1979.0      493
1972.0      460
1966.0      455
1984.0      426
1969.0      416
1970.0      382
1978.0      375
1968.0      372
1965.0      360
1967.0      353
1973.0      343
1971.0      341
1974.0      301
1964.0      281
1977.0      275
1983.0      261
1976.0      248
1981.0      241
1980.0      230
1982.0      218
1963.0      216
1955.0      190
1957.0      171
1975.0      158
1962.0      149
1956.0      137
1950.0      111
1951.0       93
1960.0       92
1953.0       90
1952.0       86
1958.0       85
1961.0       83
1949.0       82
1959.0       80
1948.0       73
1954.0       67
1947.0       67
1940.0       67
1941.0       66
1929.0       62
1932.0       60
1946.0       55
1931.0       51
1930.0       46
1937.0       45
1934.0       44
1935.0       34
1928.0       31
1939.0       31
1936.0       28
1923.0       27
1938.0       25
1900.0       24
1933.0       24
1926.0       22
2021.0       22
1927.0       17
1942.0       12
1925.0        6
1918.0        5
1943.0        4
1924.0        4
1901.0        3
1922.0        3
1920.0        3
1912.0        2
1917.0        2
1903.0        2
1914.0        2
1902.0        1
1911.0        1
1944.0        1
1915.0        1
1916.0        1
1921.0        1
1945.0        1
1919.0        1
Name: year, dtype: int64

In [14]:
# Print out variable descriptive statistics
cars['year'].describe()

count    508048.000000
mean       2009.662248
std           8.567967
min        1900.000000
25%        2007.000000
50%        2011.000000
75%        2015.000000
max        2021.000000
Name: year, dtype: float64

In [15]:
# Create missing values boolean series
cars_year_nulls = cars['year'].isnull()

In [16]:
# If first character of description is '2', then the addition of three trailing characters represent year
def populate_year(description):
    desc_slice = str(description)[0]

    if desc_slice == '2':
        year = str(description)[:4]
        return float(year)

In [17]:
# Replace missing values with year from description column
cars.loc[cars_year_nulls, 'year'] = cars.loc[cars_year_nulls, 'description'].apply(populate_year)

In [18]:
# Now see there are 26 missing values
cars['year'].isnull().sum()

26

In [19]:
# Fill remaining 26 missing values with mean
cars['year'] = cars['year'].fillna(cars['year'].mean())

### Missing values for ```title_status```

In [20]:
# Print out variable details
variable_details('title_status')

There are 3048 missing values in title_status

The are 6 unique values in title_status

The unique values are
['clean' 'rebuilt' 'salvage' 'lien' nan 'missing' 'parts only']

The value frequency is
clean         487038
rebuilt        10473
salvage         5324
lien            2848
missing          607
parts only       223
Name: title_status, dtype: int64

In [21]:
# Populate missing values using 'missing' categorical value
cars['title_status'] = cars['title_status'].fillna('missing')

### Missing values for ```transmission```

In [22]:
# Print out variable details
variable_details('transmission')

There are 3705 missing values in transmission

The are 3 unique values in transmission

The unique values are
['manual' 'automatic' 'other' nan]

The value frequency is
automatic    457657
manual        33962
other         14237
Name: transmission, dtype: int64

In [23]:
# Populate missing values using 'other' categorical value
cars.transmission = cars.transmission.fillna('other')

### Missing values for ```fuel```

In [24]:
# Print out variable details
variable_details('fuel')

There are 3971 missing values in fuel

The are 5 unique values in fuel

The unique values are
['gas' 'diesel' 'other' nan 'electric' 'hybrid']

The value frequency is
gas         441686
diesel       41986
other        17100
hybrid        4052
electric       766
Name: fuel, dtype: int64

In [25]:
# Populate missing values using 'other' categorical value
cars['fuel'].fillna('other', inplace=True)

### Missing values for ```lat``` and ```long```

In [26]:
# Print out variable details
variable_details('region')

There are 0 missing values in region

The are 403 unique values in region

The unique values are
['salt lake city' 'st george' 'lynchburg' 'vermont' 'new river valley'
 'norfolk / hampton roads' 'richmond' 'charlottesville' 'roanoke'
 'danville' 'fredericksburg' 'bellingham' 'harrisonburg'
 'kennewick-pasco-richland' 'moses lake' 'southwest VA' 'winchester'
 'lewiston / clarkston' 'olympic peninsula' 'seattle-tacoma'
 'skagit / island / SJI' 'yakima' 'wenatchee' "spokane / coeur d'alene"
 'madison' 'milwaukee' 'charleston' 'eastern panhandle' 'green bay'
 'kenosha-racine' 'morgantown' 'southern WV' 'west virginia (old)'
 'appleton-oshkosh-FDL' 'eau claire' 'duluth / superior' 'la crosse'
 'janesville' 'wausau' 'wyoming' 'northern WI' 'sheboygan'
 'gadsden-anniston' 'birmingham' 'huntsville / decatur' 'dothan' 'phoenix'
 'little rock' 'anchorage / mat-su' 'mobile' 'montgomery' 'tuscaloosa'
 'auburn' 'flagstaff / sedona' 'mohave county' 'florence / muscle shoals'
 'tucson' 'fairbanks' 'kenai peninsula' 'southeast alaska' 'yuma'
 'fayetteville' 'fort smith' 'jonesboro' 'prescott' 'sierra vista'
 'show low' 'bakersfield' 'chico' 'fresno / madera' 'inland empire'
 'denver' 'panama city' 'texarkana' 'northwest GA' 'quad cities, IA/IL'
 'boston' 'gold country' 'hanford-corcoran' 'flint' 'humboldt county'
 'imperial county' 'los angeles' 'mendocino county' 'merced' 'modesto'
 'palm springs' 'monterey bay' 'orange county' 'san diego' 'yuba-sutter'
 'redding' 'reno / tahoe' 'sacramento' 'san luis obispo' 'santa barbara'
 'SF bay area' 'stockton' 'ventura county' 'boulder' 'colorado springs'
 'santa maria' 'siskiyou county' 'susanville' 'visalia-tulare' 'delaware'
 'lakeland' 'ocala' 'pueblo' 'sarasota-bradenton' 'eastern CO'
 'fort collins / north CO' 'western slope' 'hartford' 'high rockies'
 'eastern CT' 'new haven' 'northwest CT' 'daytona beach' 'gainesville'
 'jacksonville' 'washington, DC' 'north central FL' 'florida keys'
 'orlando' 'ft myers / SW florida' 'pensacola' 'heartland florida'
 'south florida' 'okaloosa / walton' 'space coast' 'tallahassee'
 'tampa bay area' 'atlanta' 'st augustine' 'athens'
 'macon / warner robins' 'augusta' 'columbus' 'treasure coast' 'valdosta'
 'albany' 'hawaii' 'boise' 'brunswick' 'savannah / hinesville'
 'statesboro' 'bloomington-normal' 'east idaho' 'champaign urbana'
 'chicago' 'pullman / moscow' 'peoria' 'twin falls' 'decatur'
 'la salle co' 'mattoon-charleston' 'rockford' 'southern illinois'
 'springfield' 'st louis, MO' 'fort wayne' 'indianapolis' 'bloomington'
 'western IL' 'evansville' 'ames' 'iowa city' 'kokomo' 'topeka'
 'lafayette / west lafayette' 'cedar rapids' 'muncie / anderson'
 'des moines' 'south bend / michiana' 'kansas city, MO' 'terre haute'
 'bowling green' 'huntington-ashland' 'lexington' 'louisville'
 'baton rouge' 'houma' 'dubuque' 'new orleans' 'fort dodge' 'shreveport'
 'mason city' 'omaha / council bluffs' 'maine' 'sioux city' 'southeast IA'
 'waterloo / cedar falls' 'baltimore' 'southern maryland'
 'western maryland' 'lawrence' 'northwest KS' 'manhattan' 'southeast KS'
 'salina' 'southwest KS' 'wichita' 'eastern kentucky' 'western KY'
 'owensboro' 'central louisiana' 'lafayette' 'lake charles' 'monroe'
 'annapolis' 'eastern shore' 'cumberland valley' 'frederick' 'ann arbor'
 'cape cod / islands' 'south coast' 'western massachusetts' 'battle creek'
 'worcester / central MA' 'central michigan' 'detroit metro'
 'grand rapids' 'holland' 'jackson' 'kalamazoo' 'lansing' 'muskegon'
 'northern michigan' 'port huron' 'saginaw-midland-baycity'
 'southwest michigan' 'the thumb' 'upper peninsula' 'bemidji'
 'fargo / moorhead' 'mankato' 'brainerd' 'st cloud' 'gulfport / biloxi'
 'north mississippi' 'minneapolis / st paul' 'columbia / jeff city'
 'rochester' 'southwest MN' 'hattiesburg' 'meridian' 'southwest MS'
 'joplin' 'billings' 'lake of the ozarks' 'kirksville' 'lincoln'
 'kansas city' 'central NJ' 'southeast missouri' 'st joseph' 'bozeman'
 'st louis' 'butte' 'eastern montana' 'great falls' 'kalispell' 'missoula'
 'helena' 'asheville' 'charlotte' 'eastern NC' 'boone' 'greensboro'
 'hickory / lenoir' 'raleigh / durham / CH' 'outer banks' 'elko'
 'las vegas' 'wilmington' 'winston-salem' 'grand island' 'north platte'
 'scottsbluff / panhandle' 'jersey shore' 'north jersey' 'south jersey'
 'buffalo' 'elmira-corning' 'syracuse' 'albuquerque' 'new hampshire'
 'clovis / portales' 'farmington' 'las cruces' 'roswell / carlsbad'
 'santa fe / taos' 'glens falls' 'hudson valley' 'ithaca' 'binghamton'
 'long island' 'new york city' 'chautauqua' 'catskills' 'finger lakes'
 'watertown' 'north dakota' 'potsdam-canton-massena' 'oneonta'
 'plattsburgh-adirondacks' 'cincinnati' 'cleveland' 'twin tiers NY/PA'
 'utica-rome-oneida' 'bismarck' 'grand forks' 'akron / canton' 'ashtabula'
 'chillicothe' 'dayton / springfield' 'lima / findlay' 'toledo'
 'mansfield' 'northern panhandle' 'parkersburg-marietta' 'sandusky'
 'youngstown' 'tuscarawas co' 'tulsa' 'zanesville / cambridge' 'lawton'
 'northwest OK' 'oklahoma city' 'bend' 'stillwater' 'texoma'
 'corvallis/albany' 'eugene' 'east oregon' 'medford-ashland'
 'oregon coast' 'portland' 'salem' 'klamath falls' 'roseburg' 'erie'
 'altoona-johnstown' 'harrisburg' 'lancaster' 'philadelphia' 'pittsburgh'
 'lehigh valley' 'meadville' 'reading' 'poconos' 'abilene' 'york'
 'scranton / wilkes-barre' 'rhode island' 'state college' 'williamsport'
 'columbia' 'florence' 'greenville / upstate' 'hilton head' 'myrtle beach'
 'south dakota' 'chattanooga' 'knoxville' 'memphis' 'northeast SD'
 'pierre / central SD' 'rapid city / west SD' 'sioux falls / SE SD'
 'nashville' 'tri-cities' 'clarksville' 'cookeville' 'amarillo' 'austin'
 'brownsville' 'college station' 'dallas / fort worth' 'el paso'
 'beaumont / port arthur' 'corpus christi' 'deep east texas'
 'del rio / eagle pass' 'galveston' 'houston' 'killeen / temple / ft hood'
 'laredo' 'lubbock' 'mcallen / edinburg' 'odessa / midland' 'san angelo'
 'san antonio' 'san marcos' 'tyler / east TX' 'southwest TX' 'waco'
 'wichita falls' 'victoria' 'logan' 'ogden-clearfield' 'provo / orem']

The value frequency is
fayetteville                  4501
springfield                   3954
rochester                     3679
columbus                      3453
jacksonville                  3373
richmond                      3120
charleston                    3071
modesto                       2992
salem                         2991
fresno / madera               2989
spokane / coeur d'alene       2988
fort collins / north CO       2988
austin                        2987
omaha / council bluffs        2987
greensboro                    2987
eugene                        2985
kennewick-pasco-richland      2985
south jersey                  2985
tulsa                         2984
grand rapids                  2984
des moines                    2983
birmingham                    2983
colorado springs              2983
boise                         2982
bellingham                    2982
greenville / upstate          2981
cleveland                     2980
stockton                      2980
indianapolis                  2979
boston                        2977
reno / tahoe                  2976
new hampshire                 2976
san antonio                   2976
phoenix                       2976
central NJ                    2976
detroit metro                 2975
dallas / fort worth           2975
philadelphia                  2975
akron / canton                2975
albuquerque                   2975
hartford                      2975
el paso                       2975
oklahoma city                 2974
tucson                        2974
las vegas                     2974
long island                   2974
inland empire                 2974
norfolk / hampton roads       2974
north jersey                  2973
orlando                       2972
baltimore                     2972
knoxville                     2972
bend                          2971
sacramento                    2971
milwaukee                     2970
houston                       2970
hawaii                        2969
st louis, MO                  2969
tampa bay area                2969
anchorage / mat-su            2969
nashville                     2969
vermont                       2968
louisville                    2967
denver                        2967
medford-ashland               2966
ft myers / SW florida         2965
charlotte                     2965
south florida                 2964
maine                         2963
rhode island                  2963
atlanta                       2963
sarasota-bradenton            2963
kansas city, MO               2963
washington, DC                2961
pittsburgh                    2961
seattle-tacoma                2961
portland                      2960
chicago                       2960
cincinnati                    2959
SF bay area                   2958
los angeles                   2953
minneapolis / st paul         2953
orange county                 2953
san diego                     2946
madison                       2945
raleigh / durham / CH         2943
memphis                       2940
bakersfield                   2929
new york city                 2926
ventura county                2866
palm springs                  2750
ocala                         2744
daytona beach                 2740
redding                       2713
new haven                     2688
albany                        2631
little rock                   2627
wichita                       2532
western massachusetts         2525
buffalo                       2491
hudson valley                 2455
corpus christi                2413
dayton / springfield          2365
worcester / central MA        2337
san luis obispo               2210
appleton-oshkosh-FDL          2206
flint                         2191
asheville                     2188
yakima                        2182
new orleans                   2084
missoula                      2077
tri-cities                    2040
toledo                        2012
syracuse                      1992
lansing                       1988
mcallen / edinburg            1977
columbia                      1942
lincoln                       1932
winston-salem                 1916
huntsville / decatur          1913
space coast                   1869
lexington                     1864
green bay                     1852
columbia / jeff city          1805
billings                      1794
fredericksburg                1794
corvallis/albany              1770
pensacola                     1769
fargo / moorhead              1733
mobile                        1731
harrisburg                    1686
lakeland                      1685
roanoke                       1663
chattanooga                   1634
jackson                       1634
chico                         1615
saginaw-midland-baycity       1613
northern michigan             1598
tallahassee                   1597
wilmington                    1592
kalamazoo                     1567
wenatchee                     1547
lancaster                     1525
eastern NC                    1495
moses lake                    1473
yuba-sutter                   1466
lehigh valley                 1455
st cloud                      1446
bozeman                       1442
odessa / midland              1427
oregon coast                  1415
tyler / east TX               1414
treasure coast                1411
monterey bay                  1401
delaware                      1399
myrtle beach                  1382
south bend / michiana         1360
western slope                 1359
lewiston / clarkston          1352
jersey shore                  1343
kalispell                     1320
york                          1283
eau claire                    1244
santa barbara                 1219
lubbock                       1208
kenosha-racine                1190
cedar rapids                  1186
rockford                      1162
sioux falls / SE SD           1154
gainesville                   1150
amarillo                      1139
duluth / superior             1127
sioux city                    1106
waterloo / cedar falls        1089
baton rouge                   1084
quad cities, IA/IL            1075
wyoming                       1073
fort wayne                    1073
wausau                        1059
boulder                       1034
salt lake city                1013
south coast                   1002
pueblo                         974
ann arbor                      942
killeen / temple / ft hood     942
twin falls                     938
hickory / lenoir               931
pullman / moscow               928
east idaho                     921
charlottesville                896
youngstown                     890
scranton / wilkes-barre        871
fort smith                     866
erie                           862
rapid city / west SD           850
skagit / island / SJI          835
southern illinois              792
panama city                    787
waco                           780
gold country                   773
topeka                         769
macon / warner robins          759
lynchburg                      750
joplin                         749
flagstaff / sedona             739
binghamton                     733
eastern CT                     732
cape cod / islands             731
brainerd                       720
clarksville                    713
visalia-tulare                 712
gulfport / biloxi              709
savannah / hinesville          706
iowa city                      705
muskegon                       703
athens                         702
central michigan               695
augusta                        691
north mississippi              689
peoria                         686
watertown                      681
la crosse                      670
olympic peninsula              667
southwest michigan             665
utica-rome-oneida              654
great falls                    653
harrisonburg                   611
bemidji                        604
humboldt county                588
battle creek                   585
eastern shore                  576
monroe                         568
east oregon                    560
winchester                     558
santa maria                    556
mohave county                  547
southern maryland              547
st augustine                   546
wichita falls                  545
merced                         542
northwest GA                   521
st george                      520
prescott                       520
lima / findlay                 518
grand island                   511
jonesboro                      509
santa fe / taos                508
port huron                     505
holland                        494
evansville                     492
poconos                        487
upper peninsula                484
lake of the ozarks             481
yuma                           478
dubuque                        472
dothan                         470
florence                       470
reading                        469
williamsport                   465
brownsville                    464
abilene                        463
college station                441
northern WI                    433
north central FL               433
southeast missouri             431
okaloosa / walton              426
montgomery                     426
champaign urbana               425
finger lakes                   419
bowling green                  418
fairbanks                      414
kenai peninsula                411
mansfield                      408
helena                         403
shreveport                     400
bloomington-normal             398
mankato                        390
valdosta                       382
elmira-corning                 378
las cruces                     377
hattiesburg                    371
frederick                      369
terre haute                    367
danville                       367
klamath falls                  361
annapolis                      357
lafayette / west lafayette     351
southeast KS                   343
the thumb                      342
glens falls                    341
roseburg                       340
north dakota                   337
imperial county                334
florence / muscle shoals       321
grand forks                    315
janesville                     313
laredo                         296
san marcos                     291
altoona-johnstown              290
butte                          286
zanesville / cambridge         283
northwest CT                   276
ithaca                         268
lafayette                      265
muncie / anderson              265
san angelo                     265
high rockies                   262
texoma                         258
southeast IA                   257
new river valley               253
st joseph                      253
huntington-ashland             249
morgantown                     245
south dakota                   245
ames                           242
western maryland               230
boone                          222
sierra vista                   207
bloomington                    205
mason city                     204
ashtabula                      204
lawton                         204
sheboygan                      199
state college                  198
parkersburg-marietta           193
texarkana                      192
gadsden-anniston               191
chautauqua                     185
chillicothe                    179
tuscaloosa                     169
farmington                     169
eastern panhandle              167
mendocino county               167
western KY                     165
plattsburgh-adirondacks        164
bismarck                       164
eastern kentucky               162
brunswick                      160
northern panhandle             148
decatur                        147
southwest MN                   147
del rio / eagle pass           146
eastern CO                     144
hanford-corcoran               139
scottsbluff / panhandle        139
heartland florida              138
northwest OK                   137
deep east texas                136
florida keys                   135
hilton head                    135
potsdam-canton-massena         135
southwest VA                   133
manhattan                      132
roswell / carlsbad             131
show low                       131
cumberland valley              121
stillwater                     120
northwest KS                   118
outer banks                    118
auburn                         117
galveston                      117
beaumont / port arthur         117
victoria                       116
cookeville                     114
kokomo                         114
fort dodge                     111
lawrence                       103
central louisiana              103
houma                           99
western IL                      99
lake charles                    92
clovis / portales               91
mattoon-charleston              89
salina                          89
southern WV                     89
eastern montana                 89
catskills                       87
elko                            87
kirksville                      85
statesboro                      82
northeast SD                    79
southeast alaska                79
oneonta                         77
siskiyou county                 73
sandusky                        73
tuscarawas co                   72
logan                           70
la salle co                     67
twin tiers NY/PA                63
north platte                    61
owensboro                       54
west virginia (old)             52
meridian                        48
southwest KS                    43
susanville                      41
meadville                       40

In [27]:
# Print out variable details
variable_details('lat')

There are 10278 missing values in lat

The are 51488 unique values in lat

The unique values are
[40.7372 40.5881 40.3744 ... 40.758  38.8787 41.3112]

The value frequency is
43.1824    2339
47.6561    2146
40.4688    2077
46.2348    2057
33.7865    1814
           ...
39.1549       1
33.5253       1
33.9747       1
40.8451       1
27.3230       1
Name: lat, Length: 51488, dtype: int64

In [28]:
# Print out variable details
variable_details('long')

There are 10278 missing values in long

The are 51467 unique values in long

The unique values are
[-111.858 -111.884 -104.694 ... -115.226 -111.625 -111.97 ]

The value frequency is
-84.1122     2339
-117.2370    2146
-74.2817     2077
-119.1280    2057
-84.4454     1813
             ...
-149.8740       1
-85.3480        1
-87.2190        1
-121.5470       1
-78.9648        1
Name: long, Length: 51467, dtype: int64

In [29]:
# Retrieve region mean for latitude and longitude
region_mean = cars.groupby(['region'])[['lat', 'long']].mean()
region_mean

                                  lat        long
region
SF bay area                 37.671302 -121.562285
abilene                     32.657045  -95.447892
akron / canton              40.984845  -81.539258
albany                      42.294080  -74.202993
albuquerque                 35.296387 -106.334763
altoona-johnstown           40.400644  -78.674503
amarillo                    34.944558 -101.340845
ames                        41.805734  -93.124032
anchorage / mat-su          61.059055 -149.427051
ann arbor                   42.518078  -83.848793
annapolis                   38.822617  -76.438357
appleton-oshkosh-FDL        44.135732  -88.615036
asheville                   35.335525  -82.618625
ashtabula                   41.701460  -81.232125
athens                      35.082207  -83.244057
atlanta                     33.911405  -84.364078
auburn                      34.735293  -92.566733
augusta                     33.457690  -82.029831
austin                      30.344901  -97.694165
bakersfield                 35.166162 -118.650799
baltimore                   39.329626  -76.612366
baton rouge                 30.441193  -90.811171
battle creek                42.674704  -85.023788
beaumont / port arthur      30.126753  -94.706824
bellingham                  48.271482 -122.326699
bemidji                     46.889376  -95.178005
bend                        44.764799 -121.952767
billings                    46.176412 -110.960039
binghamton                  42.050511  -76.084484
birmingham                  33.365814  -87.063475
bismarck                    43.167314  -96.135888
bloomington                 39.188066  -86.727016
bloomington-normal          40.472716  -88.639682
boise                       43.671695 -116.337215
boone                       35.877363  -81.202143
boston                      42.400449  -71.407107
boulder                     39.696924 -103.904415
bowling green               36.851364  -86.209933
bozeman                     46.436150 -113.275723
brainerd                    46.339409  -94.753109
brownsville                 26.161507  -97.571086
brunswick                   30.971578  -81.837555
buffalo                     42.698520  -78.651363
butte                       46.875288 -114.513161
cape cod / islands          41.695998  -70.583109
catskills                   41.705117  -74.332487
cedar rapids                42.101349  -91.711527
central NJ                  40.424283  -74.494676
central louisiana           31.705112  -92.111448
central michigan            42.880767  -84.657535
champaign urbana            39.822997  -88.126021
charleston                  35.230051  -80.324433
charlotte                   35.254915  -81.015211
charlottesville             37.702135  -78.960395
chattanooga                 35.076910  -84.997220
chautauqua                  42.193524  -79.237540
chicago                     41.733836  -87.642473
chico                       39.071059 -121.420773
chillicothe                 39.436102  -82.945223
cincinnati                  39.280117  -84.392741
clarksville                 36.035887  -86.771275
cleveland                   41.375120  -81.663808
clovis / portales           33.954623 -102.456186
college station             30.607122  -96.502578
colorado springs            39.045995 -104.167477
columbia                    34.232623  -81.535303
columbia / jeff city        38.517687  -92.289118
columbus                    39.220383  -83.159203
cookeville                  36.100925  -85.221176
corpus christi              27.807018  -97.418568
corvallis/albany            44.911060 -122.912835
cumberland valley           39.938957  -77.523566
dallas / fort worth         32.862602  -97.202446
danville                    36.374944  -80.003738
dayton / springfield        39.715488  -84.262867
daytona beach               29.391214  -81.584731
decatur                     39.435138  -88.505890
deep east texas             31.845951  -95.182918
del rio / eagle pass        29.711732  -98.607910
delaware                    39.643045  -75.355810
denver                      39.571463 -104.857970
des moines                  41.707876  -93.794526
detroit metro               42.447846  -83.379366
dothan                      30.745993  -84.613017
dubuque                     42.756749  -90.921819
duluth / superior           46.159902  -92.597623
east idaho                  43.738913 -112.815076
east oregon                 45.405327 -118.862048
eastern CO                  39.875895 -104.467748
eastern CT                  41.405582  -72.664645
eastern NC                  35.432795  -77.757700
eastern kentucky            37.720981  -84.493712
eastern montana             44.693625 -105.878691
eastern panhandle           39.393999  -78.371658
eastern shore               37.936995  -77.369516
eau claire                  44.852835  -91.689808
el paso                     32.079781 -106.161159
elko                        39.694833 -118.497724
elmira-corning              42.613269  -77.309808
erie                        41.755132  -80.497155
eugene                      44.484560 -122.890403
evansville                  38.042599  -87.466093
fairbanks                   63.646203 -148.051556
fargo / moorhead            46.292472  -95.932705
farmington                  36.589454 -108.288590
fayetteville                35.933672  -89.515519
finger lakes                42.689712  -77.293192
flagstaff / sedona          34.537328 -111.196806
flint                       42.894112  -83.663961
florence                    34.177656  -81.190075
florence / muscle shoals    34.698687  -87.585607
florida keys                26.602304  -81.859681
fort collins / north CO     39.809956 -103.804841
fort dodge                  41.367300  -93.772545
fort smith                  35.609101  -94.728358
fort wayne                  41.137870  -85.010694
frederick                   39.278866  -77.564133
fredericksburg              38.395888  -77.377700
fresno / madera             36.863707 -119.171900
ft myers / SW florida       26.802157  -81.924580
gadsden-anniston            33.954586  -85.839653
gainesville                 29.716353  -82.255305
galveston                   30.298738  -95.063725
glens falls                 43.105136  -72.930062
gold country                38.712386 -121.023282
grand forks                 47.912859  -97.041234
grand island                41.070939  -97.304317
grand rapids                42.886472  -85.487962
great falls                 47.346743 -113.247738
green bay                   44.505299  -88.105188
greensboro                  36.046819  -79.874846
greenville / upstate        34.830610  -82.275736
gulfport / biloxi           31.946378  -86.941185
hanford-corcoran            36.699034 -119.423938
harrisburg                  40.272604  -76.907114
harrisonburg                38.596760  -78.693908
hartford                    41.654798  -73.033547
hattiesburg                 30.991363  -89.426114
hawaii                      21.231615 -157.094620
heartland florida           28.208971  -81.699193
helena                      46.406998 -111.826013
hickory / lenoir            35.467052  -81.600378
high rockies                39.509342 -106.509146
hilton head                 32.202779  -81.948251
holland                     42.830198  -85.459617
houma                       30.244324  -90.177491
houston                     30.049306  -95.876168
hudson valley               41.555610  -73.957252
humboldt county             40.402027 -123.599983
huntington-ashland          39.050032  -82.714778
huntsville / decatur        34.579076  -86.512465
imperial county             32.892395 -115.516728
indianapolis                39.623597  -85.946525
inland empire               33.934601 -116.470029
iowa city                   42.122744  -92.089468
ithaca                      42.491143  -77.067781
jackson                     36.176176  -87.996011
jacksonville                30.470357  -81.401519
janesville                  42.635983  -88.954889
jersey shore                40.236333  -74.448863
jonesboro                   35.893909  -91.114484
joplin                      36.858376  -94.369676
kalamazoo                   42.556194  -85.302712
kalispell                   47.850023 -115.698145
kansas city                 38.979720  -94.491460
kansas city, MO             38.895656  -94.552144
kenai peninsula             60.758161 -150.335717
kennewick-pasco-richland    46.430976 -118.974344
kenosha-racine              42.524020  -87.936569
killeen / temple / ft hood  31.139585  -97.842557
kirksville                  39.733710  -92.763599
klamath falls               41.979125 -121.422426
knoxville                   35.825136  -84.229589
kokomo                      39.750961  -85.162551
la crosse                   43.934615  -91.103104
la salle co                 40.873204  -89.215164
lafayette                   30.401777  -91.819950
lafayette / west lafayette  40.416163  -86.889400
lake charles                30.277445  -94.171477
lake of the ozarks          38.251755  -93.418618
lakeland                    28.553742  -82.226284
lancaster                   40.109094  -76.400177
lansing                     42.746242  -84.321696
laredo                      28.519345  -98.784019
las cruces                  31.956253 -106.031606
las vegas                   36.002556 -115.018468
lawrence                    38.740289  -95.090759
lawton                      34.694073  -97.641085
lehigh valley               40.643278  -75.425290
lewiston / clarkston        47.335760 -117.162847
lexington                   37.677584  -84.511369
lima / findlay              40.934889  -83.971298
lincoln                     40.916506  -96.541729
little rock                 35.562788  -92.828453
logan                       39.388934 -106.472457
long island                 40.740855  -73.407004
los angeles                 34.121152 -117.630887
louisville                  38.209567  -85.310047
lubbock                     33.539794 -101.537649
lynchburg                   37.383037  -79.066785
macon / warner robins       32.467470  -83.527924
madison                     42.781597  -89.333842
maine                       43.469031  -70.754934
manhattan                   39.142287  -96.622768
mankato                     44.009201  -94.197813
mansfield                   40.770811  -82.539509
mason city                  42.883119  -92.599096
mattoon-charleston          38.697671  -87.415106
mcallen / edinburg          26.557941  -97.992971
meadville                   41.407915  -80.060233
medford-ashland             43.160155 -122.736070
memphis                     35.003607  -89.815654
mendocino county            39.065653 -122.618273
merced                      37.257444 -120.347592
meridian                    32.203938  -89.709767
milwaukee                   42.597140  -87.686879
minneapolis / st paul       44.947933  -93.221939
missoula                    47.256439 -115.672138
mobile                      30.668000  -87.966626
modesto                     37.624551 -120.915293
mohave county               34.715133 -114.204298
monroe                      37.266351  -88.190896
monterey bay                36.725192 -121.546855
montgomery                  32.245530  -86.435516
morgantown                  39.850785  -80.031513
moses lake                  47.386769 -117.810852
muncie / anderson           40.165212  -85.657976
muskegon                    43.186721  -85.506501
myrtle beach                33.799510  -79.134406
nashville                   35.902834  -86.819204
new hampshire               42.971285  -71.448776
new haven                   41.397829  -73.150337
new orleans                 30.344411  -90.771953
new river valley            37.350116  -80.058927
new york city               40.639126  -73.993855
norfolk / hampton roads     36.888167  -76.398029
north central FL            29.907615  -82.407399
north dakota                42.800678 -103.577646
north jersey                40.746840  -74.343071
north mississippi           34.356637  -89.239165
north platte                40.992959 -100.781771
northeast SD                45.017300  -95.862666
northern WI                 45.011653  -89.949798
northern michigan           44.101874  -85.118035
northern panhandle          40.136474  -80.704447
northwest CT                41.585112  -73.702586
northwest GA                34.761280  -84.973181
northwest KS                39.163379  -97.794390
northwest OK                35.903396  -97.898961
ocala                       29.127660  -82.248406
odessa / midland            31.945795  -99.909770
ogden-clearfield            40.048519 -110.748019
okaloosa / walton           30.468456  -86.698813
oklahoma city               35.187660  -97.412280
olympic peninsula           47.428088 -122.584275
omaha / council bluffs      41.271653  -96.056367
oneonta                     42.608545  -75.293534
orange county               33.829250 -117.252749
oregon coast                44.768851 -123.179574
orlando                     28.609329  -81.563631
outer banks                 35.389707  -77.498967
owensboro                   37.083627  -87.099606
palm springs                33.803036 -116.606628
panama city                 30.075047  -84.987626
parkersburg-marietta        39.634847  -81.506270
pensacola                   30.436989  -86.607718
peoria                      40.692681  -89.365499
philadelphia                39.939420  -75.262160
phoenix                     33.581449 -111.457512
pierre / central SD         44.383520  -98.561660
pittsburgh                  40.508016  -80.329183
plattsburgh-adirondacks     44.451415  -73.646464
poconos                     40.956994  -75.136025
port huron                  42.989031  -83.176238
portland                    45.482127 -122.603777
potsdam-canton-massena      44.747387  -74.678411
prescott                    34.660846 -112.448832
provo / orem                39.214267 -110.855170
pueblo                      38.991974 -105.008299
pullman / moscow            47.531504 -117.333681
quad cities, IA/IL          41.710806  -90.525536
raleigh / durham / CH       35.850950  -78.770619
rapid city / west SD        44.053251 -101.436839
reading                     40.475602  -75.615503
redding                     39.774271 -121.840701
reno / tahoe                39.256258 -119.993783
rhode island                41.865655  -71.519572
richmond                    37.851151  -77.930961
roanoke                     36.914245  -80.146017
rochester                   43.178744  -80.559660
rockford                    42.336219  -88.979017
roseburg                    43.765137 -123.149411
roswell / carlsbad          33.286591 -101.980489
sacramento                  38.566549 -121.305112
saginaw-midland-baycity     43.224819  -83.866717
salem                       45.053509 -122.891326
salina                      39.142255  -96.696503
salt lake city              38.399319 -111.056886
san angelo                  31.953577  -99.094390
san antonio                 29.738035  -98.648528
san diego                   33.023383 -117.052573
san luis obispo             35.379847 -120.454321
san marcos                  30.073108  -97.964473
sandusky                    41.241442  -83.084096
santa barbara               34.443252 -116.606884
santa fe / taos             36.192150 -105.385845
santa maria                 34.902142 -120.210259
sarasota-bradenton          27.530248  -82.529965
savannah / hinesville       32.293111  -84.403713
scottsbluff / panhandle     40.442769 -103.355333
scranton / wilkes-barre     41.297366  -75.483503
seattle-tacoma              47.356283 -122.081129
sheboygan                   43.772754  -87.892340
show low                    33.707293 -108.746298
shreveport                  32.523814  -93.693741
sierra vista                31.861414 -110.356696
sioux city                  42.014618  -96.575640
sioux falls / SE SD         43.516251  -96.302390
siskiyou county             40.537878 -122.139890
skagit / island / SJI       48.459719 -122.415717
south bend / michiana       41.623521  -86.059005
south coast                 41.735440  -70.948833
south dakota                43.182893  -98.533179
south florida               26.176780  -80.336665
south jersey                39.847752  -75.013889
southeast IA                41.078232  -92.227811
southeast KS                37.857087  -94.830068
southeast alaska            55.113127 -130.906641
southeast missouri          37.650850  -90.423956
southern WV                 38.045725  -80.329382
southern illinois           38.148194  -89.236642
southern maryland           38.605875  -76.887747
southwest KS                36.948658 -100.031333
southwest MN                44.324537  -95.865255
southwest MS                31.437157  -91.043770
southwest TX                30.951889  -99.452100
southwest VA                36.697617  -80.786207
southwest michigan          42.468371  -85.494180
space coast                 28.646582  -81.173656
spokane / coeur d'alene     47.601015 -117.340473
springfield                 37.778357  -92.470044
st augustine                29.839709  -81.363645
st cloud                    45.599152  -94.256668
st george                   37.049401 -113.665654
st joseph                   39.932722  -95.063756
st louis                    38.695267  -90.534200
st louis, MO                38.550219  -90.917388
state college               40.794594  -77.543982
statesboro                  32.770384  -80.833340
stillwater                  35.878790  -96.955648
stockton                    37.885337 -119.924210
susanville                  39.409632 -121.058073
syracuse                    42.997255  -76.452617
tallahassee                 30.261386  -83.788566
tampa bay area              28.056237  -82.462805
terre haute                 39.409420  -87.497962
texarkana                   33.597193  -93.903827
texoma                      33.724316  -96.994952
the thumb                   43.221170  -83.817867
toledo                      41.715081  -83.428719
topeka                      38.347357  -94.051625
treasure coast              27.783568  -80.665577
tri-cities                  35.475495  -82.037041
tucson                      32.516357 -111.103519
tulsa                       36.071279  -95.906681
tuscaloosa                  33.302438  -87.348960
tuscarawas co               39.256179  -80.644631
twin falls                  43.062087 -115.349807
twin tiers NY/PA            41.467417  -78.368242
tyler / east TX             32.306901  -95.497231
upper peninsula             45.331227  -86.957624
utica-rome-oneida           42.994779  -75.561732
valdosta                    29.865150  -82.658158
ventura county              34.152997 -115.647690
vermont                     43.812029  -72.879388
victoria                    28.862722  -96.941097
visalia-tulare              36.210366 -119.320271
waco                        31.661678  -97.456428
washington, DC              38.776444  -77.333675
waterloo / cedar falls      42.519192  -92.339741
watertown                   43.600009  -75.836996
wausau                      44.701708  -90.036719
wenatchee                   47.330227 -119.415952
west virginia (old)         38.548783  -79.665942
western IL                  38.430224  -91.253670
western KY                  36.935505  -88.159236
western maryland            37.157585  -80.631897
western massachusetts       42.153263  -72.598978
western slope               38.966107 -107.764987
wichita                     37.317919  -96.874638
wichita falls               34.487629  -97.865523
williamsport                41.046928  -76.837967
wilmington                  34.249604  -78.497964
winchester                  38.991292  -78.236495
winston-salem               35.886120  -80.440416
worcester / central MA      42.244946  -71.855840
wyoming                     41.311495 -105.529190
yakima                      46.615509 -119.996594

In [30]:
# Create region mean lookup dictionary
region_mean_lookup = region_mean.to_dict('index')
region_mean_lookup

{'SF bay area': {'lat': 37.671301646655316, 'long': -121.56228548884987},
 'abilene': {'lat': 32.65704451403889, 'long': -95.44789200863936},
 'akron / canton': {'lat': 40.98484520641404, 'long': -81.53925789832859},
 'albany': {'lat': 42.29407989317023, 'long': -74.20299275085844},
 'albuquerque': {'lat': 35.296386586206665, 'long': -106.33476334482806},
 'altoona-johnstown': {'lat': 40.40064394463673, 'long': -78.67450311418698},
 'amarillo': {'lat': 34.94455783879523, 'long': -101.34084464127558},
 'ames': {'lat': 41.8057340248963, 'long': -93.12403195020745},
 'anchorage / mat-su': {'lat': 61.05905485502326, 'long': -149.42705097774652},
 'ann arbor': {'lat': 42.518077801724104, 'long': -83.8487925646553},
 'annapolis': {'lat': 38.8226169491525, 'long': -76.43835734463279},
 'appleton-oshkosh-FDL': {'lat': 44.135732051875635,
  'long': -88.61503594256575},
 'asheville': {'lat': 35.33552466369941, 'long': -82.61862472799206},
 'ashtabula': {'lat': 41.70146029411766, 'long': -81.23212450980385},
 'athens': {'lat': 35.08220690647495, 'long': -83.24405735251817},
 'atlanta': {'lat': 33.91140490296202, 'long': -84.36407810691199},
 'auburn': {'lat': 34.735293162393184, 'long': -92.56673333333342},
 'augusta': {'lat': 33.457690029762, 'long': -82.0298308035714},
 'austin': {'lat': 30.344900697359478, 'long': -97.69416455653386},
 'bakersfield': {'lat': 35.166161857437054, 'long': -118.65079921178842},
 'baltimore': {'lat': 39.32962619851433, 'long': -76.61236553004642},
 'baton rouge': {'lat': 30.44119326473336, 'long': -90.81117090739048},
 'battle creek': {'lat': 42.67470400000008, 'long': -85.02378782608717},
 'beaumont / port arthur': {'lat': 30.126752586206926,
  'long': -94.70682413793111},
 'bellingham': {'lat': 48.2714821871848, 'long': -122.32669869171374},
 'bemidji': {'lat': 46.88937620632276, 'long': -95.17800499168018},
 'bend': {'lat': 44.76479928205161, 'long': -121.9527672478641},
 'billings': {'lat': 46.17641222760307, 'long': -110.96003904358318},
 'binghamton': {'lat': 42.05051109570034, 'long': -76.08448363384204},
 'birmingham': {'lat': 33.36581369168363, 'long': -87.06347521974321},
 'bismarck': {'lat': 43.16731402439017, 'long': -96.13588780487804},
 'bloomington': {'lat': 39.18806617647054, 'long': -86.72701617647054},
 'bloomington-normal': {'lat': 40.47271602067186, 'long': -88.63968217054241},
 'boise': {'lat': 43.671695106311056, 'long': -116.33721461356706},
 'boone': {'lat': 35.877363207547255, 'long': -81.20214292452842},
 'boston': {'lat': 42.400449318337024, 'long': -71.40710681663205},
 'boulder': {'lat': 39.696924177949555, 'long': -103.90441479690553},
 'bowling green': {'lat': 36.85136446078428, 'long': -86.20993333333321},
 'bozeman': {'lat': 46.43615000000026, 'long': -113.27572324046908},
 'brainerd': {'lat': 46.33940875000008, 'long': -94.75310930555516},
 'brownsville': {'lat': 26.161506695464272, 'long': -97.57108639308862},
 'brunswick': {'lat': 30.971578343949055, 'long': -81.83755477707008},
 'buffalo': {'lat': 42.6985198781511, 'long': -78.65136281092437},
 'butte': {'lat': 46.875287762237924, 'long': -114.51316083916115},
 'cape cod / islands': {'lat': 41.69599788732417, 'long': -70.5831091549298},
 'catskills': {'lat': 41.70511744186047, 'long': -74.33248720930234},
 'cedar rapids': {'lat': 42.10134918454917, 'long': -91.71152686695316},
 'central NJ': {'lat': 40.424283310765404, 'long': -74.49467623561326},
 'central louisiana': {'lat': 31.70511165048543, 'long': -92.11144757281554},
 'central michigan': {'lat': 42.88076724386716, 'long': -84.65753506493547},
 'champaign urbana': {'lat': 39.82299714285735, 'long': -88.12602119047624},
 'charleston': {'lat': 35.2300506567869, 'long': -80.32443310879033},
 'charlotte': {'lat': 35.25491463585448, 'long': -81.01521067927102},
 'charlottesville': {'lat': 37.702135375722456, 'long': -78.9603951445087},
 'chattanooga': {'lat': 35.07690957642718, 'long': -84.99721952117875},
 'chautauqua': {'lat': 42.193524175824145, 'long': -79.23753956043953},
 'chicago': {'lat': 41.73383594173468, 'long': -87.64247279810292},
 'chico': {'lat': 39.07105908245513, 'long': -121.42077327960355},
 'chillicothe': {'lat': 39.43610169491523, 'long': -82.94522259886988},
 'cincinnati': {'lat': 39.28011718644056, 'long': -84.39274115254217},
 'clarksville': {'lat': 36.035886562941975, 'long': -86.77127524752451},
 'cleveland': {'lat': 41.37512025016916, 'long': -81.66380821501123},
 'clovis / portales': {'lat': 33.95462307692308, 'long': -102.4561857142857},
 'college station': {'lat': 30.60712154195007, 'long': -96.50257845804978},
 'colorado springs': {'lat': 39.04599513816061, 'long': -104.16747694998297},
 'columbia': {'lat': 34.23262296387006, 'long': -81.53530269442709},
 'columbia / jeff city': {'lat': 38.517686759620624,
  'long': -92.28911784718343},
 'columbus': {'lat': 39.22038317528329, 'long': -83.1592027531347},
 'cookeville': {'lat': 36.100925225225225, 'long': -85.22117567567572},
 'corpus christi': {'lat': 27.80701837411876, 'long': -97.41856789713952},
 'corvallis/albany': {'lat': 44.911059705715985, 'long': -122.9128346349746},
 'cumberland valley': {'lat': 39.93895714285713, 'long': -77.52356554621855},
 'dallas / fort worth': {'lat': 32.86260196044997, 'long': -97.20244590828554},
 'danville': {'lat': 36.37494355555564, 'long': -80.00373822222224},
 'dayton / springfield': {'lat': 39.71548801862802, 'long': -84.2628669771376},
 'daytona beach': {'lat': 29.391213727638103, 'long': -81.58473103322363},
 'decatur': {'lat': 39.435137931034454, 'long': -88.50588965517234},
 'deep east texas': {'lat': 31.84595147058823, 'long': -95.18291764705884},
 'del rio / eagle pass': {'lat': 29.711731506849254,
  'long': -98.60790958904101},
 'delaware': {'lat': 39.64304477077369, 'long': -75.35581038681931},
 'denver': {'lat': 39.57146283967418, 'long': -104.85796980298971},
 'des moines': {'lat': 41.707875667455, 'long': -93.79452598850996},
 'detroit metro': {'lat': 42.447845739306324, 'long': -83.37936551027386},
 'dothan': {'lat': 30.745992963752652, 'long': -84.61301727078897},
 'dubuque': {'lat': 42.756748630137, 'long': -90.92181894977165},
 'duluth / superior': {'lat': 46.15990170556547, 'long': -92.5976228904849},
 'east idaho': {'lat': 43.73891333333354, 'long': -112.81507563333359},
 'east oregon': {'lat': 45.40532732142864, 'long': -118.86204750000002},
 'eastern CO': {'lat': 39.875895, 'long': -104.46774785714308},
 'eastern CT': {'lat': 41.40558183356259, 'long': -72.66464456671268},
 'eastern NC': {'lat': 35.43279473228331, 'long': -77.75770031496097},
 'eastern kentucky': {'lat': 37.72098050314467, 'long': -84.49371194968552},
 'eastern montana': {'lat': 44.69362471910109, 'long': -105.87869101123597},
 'eastern panhandle': {'lat': 39.39399939759038, 'long': -78.37165843373491},
 'eastern shore': {'lat': 37.9369953125, 'long': -77.36951562500006},
 'eau claire': {'lat': 44.85283450531494, 'long': -91.68980801308258},
 'el paso': {'lat': 32.079781219847916, 'long': -106.16115902825673},
 'elko': {'lat': 39.69483333333337, 'long': -118.49772413793089},
 'elmira-corning': {'lat': 42.61326904761914, 'long': -77.30980767195778},
 'erie': {'lat': 41.75513189964167, 'long': -80.49715495818403},
 'eugene': {'lat': 44.48456002682704, 'long': -122.89040328638524},
 'evansville': {'lat': 38.042599269311076, 'long': -87.46609331941548},
 'fairbanks': {'lat': 63.64620314009674, 'long': -148.05155555555618},
 'fargo / moorhead': {'lat': 46.29247190751438, 'long': -95.93270468208044},
 'farmington': {'lat': 36.58945421686756, 'long': -108.28859036144597},
 'fayetteville': {'lat': 35.93367225191704, 'long': -89.51551914943025},
 'finger lakes': {'lat': 42.68971196172243, 'long': -77.29319210526319},
 'flagstaff / sedona': {'lat': 34.537328146143516,
  'long': -111.19680568335544},
 'flint': {'lat': 42.894112451598176, 'long': -83.6639612328773},
 'florence': {'lat': 34.17765603715176, 'long': -81.1900752321982},
 'florence / muscle shoals': {'lat': 34.69868722741439,
  'long': -87.58560654205628},
 'florida keys': {'lat': 26.602304444444428, 'long': -81.85968074074077},
 'fort collins / north CO': {'lat': 39.80995638618876,
  'long': -103.80484106604266},
 'fort dodge': {'lat': 41.367299999999986, 'long': -93.77254487179482},
 'fort smith': {'lat': 35.60910129107987, 'long': -94.72835833333313},
 'fort wayne': {'lat': 41.13787028571439, 'long': -85.01069371428594},
 'frederick': {'lat': 39.27886603260867, 'long': -77.56413260869556},
 'fredericksburg': {'lat': 38.39588750000015, 'long': -77.37770033482131},
 'fresno / madera': {'lat': 36.8637074023771, 'long': -119.17190030560397},
 'ft myers / SW florida': {'lat': 26.802156746702867,
  'long': -81.9245799120737},
 'gadsden-anniston': {'lat': 33.95458578947378, 'long': -85.83965315789486},
 'gainesville': {'lat': 29.716353089643228, 'long': -82.2553046127064},
 'galveston': {'lat': 30.29873760683763, 'long': -95.06372478632478},
 'glens falls': {'lat': 43.10513628318563, 'long': -72.93006224188785},
 'gold country': {'lat': 38.712385880829025, 'long': -121.02328212435212},
 'grand forks': {'lat': 47.91285904761909, 'long': -97.04123428571377},
 'grand island': {'lat': 41.07093885601603, 'long': -97.30431735700164},
 'grand rapids': {'lat': 42.88647210632552, 'long': -85.48796154105015},
 'great falls': {'lat': 47.346743185298756, 'long': -113.24773797855997},
 'green bay': {'lat': 44.50529907508175, 'long': -88.10518764961921},
 'greensboro': {'lat': 36.046819028190065, 'long': -79.87484617952528},
 'greenville / upstate': {'lat': 34.83061047893422,
  'long': -82.27573557796119},
 'gulfport / biloxi': {'lat': 31.946378060344845, 'long': -86.9411854885056},
 'hanford-corcoran': {'lat': 36.69903405797104, 'long': -119.42393840579712},
 'harrisburg': {'lat': 40.27260441527441, 'long': -76.90711384248212},
 'harrisonburg': {'lat': 38.59676009852214, 'long': -78.69390788177351},
 'hartford': {'lat': 41.65479796982172, 'long': -73.03354725651558},
 'hattiesburg': {'lat': 30.991363043478287, 'long': -89.42611413043454},
 'hawaii': {'lat': 21.231614897202565, 'long': -157.09462042466942},
 'heartland florida': {'lat': 28.208970802919694, 'long': -81.69919270073001},
 'helena': {'lat': 46.40699776119396, 'long': -111.82601286815914},
 'hickory / lenoir': {'lat': 35.467051958224275, 'long': -81.60037806788483},
 'high rockies': {'lat': 39.50934176245209, 'long': -106.50914559386986},
 'hilton head': {'lat': 32.20277925925926, 'long': -81.94825111111115},
 'holland': {'lat': 42.830197560975705, 'long': -85.45961747967476},
 'houma': {'lat': 30.24432395833332, 'long': -90.17749062499989},
 'houston': {'lat': 30.04930602874151, 'long': -95.87616827900477},
 'hudson valley': {'lat': 41.55561012658231, 'long': -73.95725185790118},
 'humboldt county': {'lat': 40.40202725724026, 'long': -123.59998347529806},
 'huntington-ashland': {'lat': 39.0500317269077, 'long': -82.71477791164646},
 'huntsville / decatur': {'lat': 34.57907615303995,
  'long': -86.51246540880555},
 'imperial county': {'lat': 32.892394594594585, 'long': -115.51672792792796},
 'indianapolis': {'lat': 39.62359668246493, 'long': -85.94652501692775},
 'inland empire': {'lat': 33.93460124495299, 'long': -116.47002893674204},
 'iowa city': {'lat': 42.12274427710834, 'long': -92.08946762048136},
 'ithaca': {'lat': 42.491143071161, 'long': -77.06778127340827},
 'jackson': {'lat': 36.17617557266006, 'long': -87.99601133004914},
 'jacksonville': {'lat': 30.470357389461316, 'long': -81.40151889763723},
 'janesville': {'lat': 42.635982666666614, 'long': -88.95488900000007},
 'jersey shore': {'lat': 40.23633345752579, 'long': -74.4488630402384},
 'jonesboro': {'lat': 35.89390885826764, 'long': -91.11448385826765},
 'joplin': {'lat': 36.85837594594603, 'long': -94.36967608108077},
 'kalamazoo': {'lat': 42.55619435173275, 'long': -85.30271155327436},
 'kalispell': {'lat': 47.85002321699603, 'long': -115.6981453717758},
 'kansas city': {'lat': 38.97972, 'long': -94.49146},
 'kansas city, MO': {'lat': 38.895655884667754, 'long': -94.55214419945771},
 'kenai peninsula': {'lat': 60.75816131386839, 'long': -150.33571678832098},
 'kennewick-pasco-richland': {'lat': 46.43097562289601,
  'long': -118.97434386868913},
 'kenosha-racine': {'lat': 42.524019847972724, 'long': -87.93656875000019},
 'killeen / temple / ft hood': {'lat': 31.13958522848034,
  'long': -97.84255706695045},
 'kirksville': {'lat': 39.73370952380952, 'long': -92.7635988095238},
 'klamath falls': {'lat': 41.979125207756184, 'long': -121.42242648199446},
 'knoxville': {'lat': 35.82513589743606, 'long': -84.22958916576405},
 'kokomo': {'lat': 39.75096116504852, 'long': -85.1625514563106},
 'la crosse': {'lat': 43.934614670658796, 'long': -91.10310392215581},
 'la salle co': {'lat': 40.87320447761195, 'long': -89.21516417910443},
 'lafayette': {'lat': 30.40177722007717, 'long': -91.81995019305022},
 'lafayette / west lafayette': {'lat': 40.41616272189354,
  'long': -86.88939970414191},
 'lake charles': {'lat': 30.277445054945094, 'long': -94.17147692307684},
 'lake of the ozarks': {'lat': 38.25175546218493, 'long': -93.41861827731073},
 'lakeland': {'lat': 28.55374162707861, 'long': -82.22628420427567},
 'lancaster': {'lat': 40.10909398443036, 'long': -76.40017678697826},
 'lansing': {'lat': 42.74624237974702, 'long': -84.32169564556973},
 'laredo': {'lat': 28.51934498269898, 'long': -98.78401937716242},
 'las cruces': {'lat': 31.95625345744681, 'long': -106.03160563829795},
 'las vegas': {'lat': 36.002555710401616, 'long': -115.0184684908229},
 'lawrence': {'lat': 38.740289108910886, 'long': -95.09075940594062},
 'lawton': {'lat': 34.69407286432162, 'long': -97.64108492462312},
 'lehigh valley': {'lat': 40.64327849613467, 'long': -75.42528995080868},
 'lewiston / clarkston': {'lat': 47.335760444444205,
  'long': -117.16284748148077},
 'lexington': {'lat': 37.67758356909682, 'long': -84.51136915125136},
 'lima / findlay': {'lat': 40.93488858800772, 'long': -83.97129787234054},
 'lincoln': {'lat': 40.91650557872773, 'long': -96.54172940563285},
 'little rock': {'lat': 35.56278774094068, 'long': -92.82845304548985},
 'logan': {'lat': 39.38893428571429, 'long': -106.47245714285717},
 'long island': {'lat': 40.74085504039312, 'long': -73.40700361784299},
 'los angeles': {'lat': 34.12115205154316, 'long': -117.63088718209576},
 'louisville': {'lat': 38.20956689671679, 'long': -85.31004695622323},
 'lubbock': {'lat': 33.539793687707544, 'long': -101.53764916943543},
 'lynchburg': {'lat': 37.383036925794904, 'long': -79.06678515901034},
 'macon / warner robins': {'lat': 32.467470291777275,
  'long': -83.52792427055736},
 'madison': {'lat': 42.781597328108674, 'long': -89.33384182401082},
 'maine': {'lat': 43.46903124350587, 'long': -70.75493366816808},
 'manhattan': {'lat': 39.14228702290077, 'long': -96.62276793893137},
 'mankato': {'lat': 44.00920128534699, 'long': -94.19781259640095},
 'mansfield': {'lat': 40.770810837438376, 'long': -82.5395086206897},
 'mason city': {'lat': 42.883119257425754, 'long': -92.59909603960408},
 'mattoon-charleston': {'lat': 38.6976712643678, 'long': -87.41510574712646},
 'mcallen / edinburg': {'lat': 26.557940526849336, 'long': -97.99297107396124},
 'meadville': {'lat': 41.407915384615386, 'long': -80.06023333333334},
 'medford-ashland': {'lat': 43.16015544382776, 'long': -122.73607021498033},
 'memphis': {'lat': 35.00360652218762, 'long': -89.81565397316781},
 'mendocino county': {'lat': 39.06565301204822, 'long': -122.61827349397603},
 'merced': {'lat': 37.257443992606355, 'long': -120.3475918669134},
 'meridian': {'lat': 32.203938124999986, 'long': -89.70976666666665},
 'milwaukee': {'lat': 42.597139858011914, 'long': -87.68687944219104},
 'minneapolis / st paul': {'lat': 44.94793288428864,
  'long': -93.22193932813052},
 'missoula': {'lat': 47.25643874878725, 'long': -115.67213845780769},
 'mobile': {'lat': 30.668000000000085, 'long': -87.96662616009229},
 'modesto': {'lat': 37.62455097807773, 'long': -120.91529288364298},
 'mohave county': {'lat': 34.715132600732666, 'long': -114.2042981684981},
 'monroe': {'lat': 37.266350796460074, 'long': -88.19089646017682},
 'monterey bay': {'lat': 36.725192130092616, 'long': -121.54685525375288},
 'montgomery': {'lat': 32.245529857819996, 'long': -86.43551611374382},
 'morgantown': {'lat': 39.85078530612247, 'long': -80.03151306122459},
 'moses lake': {'lat': 47.386769314324255, 'long': -117.81085200271366},
 'muncie / anderson': {'lat': 40.165211877394526, 'long': -85.65797586206924},
 'muskegon': {'lat': 43.186720797721016, 'long': -85.50650099715143},
 'myrtle beach': {'lat': 33.799510471622504, 'long': -79.13440623501226},
 'nashville': {'lat': 35.902834087838, 'long': -86.8192038851344},
 'new hampshire': {'lat': 42.97128546831973, 'long': -71.4487756887058},
 'new haven': {'lat': 41.397829454132086, 'long': -73.15033718726201},
 'new orleans': {'lat': 30.3444114022317, 'long': -90.77195322658905},
 'new river valley': {'lat': 37.35011564245811, 'long': -80.05892681564245},
 'new york city': {'lat': 40.639125928473305, 'long': -73.99385515818423},
 'norfolk / hampton roads': {'lat': 36.88816744510296,
  'long': -76.39802896479674},
 'north central FL': {'lat': 29.90761524249407, 'long': -82.40739884526576},
 'north dakota': {'lat': 42.800677678571525, 'long': -103.57764583333322},
 'north jersey': {'lat': 40.74683999999978, 'long': -74.34307083276477},
 'north mississippi': {'lat': 34.3566366812226, 'long': -89.23916506550188},
 'north platte': {'lat': 40.99295932203392, 'long': -100.78177118644066},
 'northeast SD': {'lat': 45.017299999999906, 'long': -95.86266623376603},
 'northern WI': {'lat': 45.01165314685315, 'long': -89.94979836829832},
 'northern michigan': {'lat': 44.101873542319545, 'long': -85.11803498432623},
 'northern panhandle': {'lat': 40.13647364864867, 'long': -80.70444729729729},
 'northwest CT': {'lat': 41.58511159420291, 'long': -73.70258586956516},
 'northwest GA': {'lat': 34.761280421686706, 'long': -84.97318132530123},
 'northwest KS': {'lat': 39.16337946428569, 'long': -97.79439017857142},
 'northwest OK': {'lat': 35.90339624060154, 'long': -97.8989609022556},
 'ocala': {'lat': 29.127660138585387, 'long': -82.24840623632431},
 'odessa / midland': {'lat': 31.945795017543897, 'long': -99.90977017543909},
 'ogden-clearfield': {'lat': 40.04851851851851, 'long': -110.7480185185185},
 'okaloosa / walton': {'lat': 30.468456103286346, 'long': -86.69881338028172},
 'oklahoma city': {'lat': 35.18766015878757, 'long': -97.41227950198436},
 'olympic peninsula': {'lat': 47.42808815592259, 'long': -122.58427511244454},
 'omaha / council bluffs': {'lat': 41.271652834007426,
  'long': -96.05636727395373},
 'oneonta': {'lat': 42.60854545454544, 'long': -75.29353376623384},
 'orange county': {'lat': 33.82924968675534, 'long': -117.25274923391197},
 'oregon coast': {'lat': 44.76885081272041, 'long': -123.17957356890446},
 'orlando': {'lat': 28.60932865020329, 'long': -81.56363078146113},
 'outer banks': {'lat': 35.38970677966106, 'long': -77.49896694915255},
 'owensboro': {'lat': 37.08362745098037, 'long': -87.09960588235292},
 'palm springs': {'lat': 33.803036403349324, 'long': -116.60662777575561},
 'panama city': {'lat': 30.075047073791396, 'long': -84.98762646310483},
 'parkersburg-marietta': {'lat': 39.6348473958334, 'long': -81.5062697916668},
 'pensacola': {'lat': 30.436988611898332, 'long': -86.60771824362634},
 'peoria': {'lat': 40.69268051750377, 'long': -89.36549878234432},
 'philadelphia': {'lat': 39.939419853682736, 'long': -75.26216044399564},
 'phoenix': {'lat': 33.58144893328823, 'long': -111.4575120894003},
 'pierre / central SD': {'lat': 44.38352, 'long': -98.56165999999999},
 'pittsburgh': {'lat': 40.508015628192055, 'long': -80.3291832822614},
 'plattsburgh-adirondacks': {'lat': 44.45141524390236,
  'long': -73.64646402439021},
 'poconos': {'lat': 40.956994045174426, 'long': -75.13602546201241},
 'port huron': {'lat': 42.989031349206336, 'long': -83.17623750000027},

In [31]:
# Create list of row indexes for rows with a missing value for latitude
lat_nulls = cars[cars['lat'].isnull()].index.tolist()

In [32]:
# Create list of row indexes for rows with a missing value for longitude
long_nulls = cars[cars['long'].isnull()].index.tolist()

In [33]:
# Comparing latitude-longitude row indexes to verify lat-long pair is null
def lat_long_combination(lat, long):
    
    print('Latitude length is {}'.format(len(lat)))
    print('Longitude length is {}'.format(len(long)))
    
    is_not_valid = 0
    
    for i in range(len(lat)):
        
        if lat[i] != long[i]:
            is_not_valid += 1
            
    print('There were {} invalid combinations found'.format(str(is_not_valid)))

In [34]:
lat_long_combination(lat_nulls, long_nulls)

Latitude length is 10278
Longitude length is 10278
There were 0 invalid combinations found

In [35]:
# Update latitude missing value with region mean
def retrieve_lat(region):
    latitude = region_mean_lookup[region]['lat']
    return latitude

In [36]:
# Update longitude missing value with region mean
def retrieve_long(region):
    longitude = region_mean_lookup[region]['long']
    return longitude

In [37]:
# Retrieving row indexes lat-long null pairs
cars_lat_long = cars[cars[['lat', 'long']].isnull().any(axis=1)]

In [38]:
# Loop through row indexes and update latitude and longitude values
for i in cars_lat_long.index:
    cars['lat'][i] = retrieve_lat(cars['region'][i])
    cars['long'][i] = retrieve_long(cars['region'][i])

### Missing values for ```manufacturer```

In [39]:
# Print out variable details
variable_details('manufacturer')

There are 22749 missing values in manufacturer

The are 43 unique values in manufacturer

The unique values are
['volkswagen' 'ford' 'gmc' 'ram' 'toyota' 'chevrolet' 'mercedes-benz'
 'jeep' nan 'honda' 'lexus' 'cadillac' 'dodge' 'hyundai' 'subaru' 'bmw'
 'chrysler' 'nissan' 'mitsubishi' 'buick' 'acura' 'kia' 'rover'
 'alfa-romeo' 'mazda' 'saturn' 'pontiac' 'volvo' 'jaguar' 'fiat' 'audi'
 'mini' 'infiniti' 'lincoln' 'mercury' 'tesla' 'harley-davidson' 'porche'
 'land rover' 'aston-martin' 'ferrari' 'datsun' 'hennessey' 'morgan']

The value frequency is
ford               92600
chevrolet          73661
toyota             38159
nissan             26435
ram                26177
honda              25585
jeep               23951
gmc                23126
dodge              19344
bmw                13468
hyundai            12182
mercedes-benz      11569
subaru             10259
volkswagen         10214
chrysler            8866
kia                 8821
cadillac            7304
buick               6357
lexus               6292
mazda               5851
audi                5586
acura               4169
infiniti            3933
pontiac             3493
lincoln             3393
volvo               3088
mitsubishi          2848
mini                2173
rover               1840
saturn              1790
mercury             1760
jaguar              1029
fiat                 746
harley-davidson      215
tesla                207
alfa-romeo           109
ferrari               82
datsun                68
land rover            25
aston-martin          22
porche                10
morgan                 3
hennessey              2
Name: manufacturer, dtype: int64

In [40]:
# Couple minor replacements
cars['manufacturer'] = cars['manufacturer'].replace('mercedes-benz', 'mercedes')
cars['manufacturer'] = cars['manufacturer'].replace('porche', 'porsche')

In [41]:
# Create list of unique values
unique_list = cars['manufacturer'].unique().tolist()

In [42]:
# Look for manufacturer in description and if found update manufacturer
def populate_manufacturer(description):

    # Create word cloud object
    wc = WordCloud().generate(str(description)[:1000])
    
    # Create a list of keys from word cloud object
    keys = [key.lower().strip('_.*') for key in wc.words_.keys()]
    
    # If unique value is found return unique value
    for unique in unique_list:
        if unique in keys:
            return unique

In [43]:
# Create missing values boolean series
cars_manu_nulls = cars['manufacturer'].isnull()

In [44]:
# Create list of row indexes
cars_manu_nulls_list = cars[cars_manu_nulls].index.tolist()

In [45]:
# Drop rows from description
cars = cars.drop(cars[cars['description'] == 'a'].index, axis=0)

In [65]:
# Update missing values in manufacturer with value from description
cars.loc[cars_manu_nulls_list, 'manufacturer'] = cars.loc[cars_manu_nulls_list, 'description'].apply(populate_manufacturer)

KeyError: '[163763] not in index'

### Missing values for ```odometer```

In [46]:
# Print out variable details
variable_details('odometer')

There are 92308 missing values in odometer

The are 119873 unique values in odometer

The unique values are
[6.3500e+04 1.0000e+01 7.5540e+03 ... 3.9457e+04 8.3200e+05 6.9730e+03]

The value frequency is
0.0         2268
150000.0    1161
140000.0    1138
130000.0    1115
160000.0    1059
            ...
45894.0        1
91786.0        1
183571.0       1
121871.0       1
71542.0        1
Name: odometer, Length: 119873, dtype: int64

In [47]:
# Print out variable descriptive statistics
cars['odometer'].describe()

count    4.172510e+05
mean     1.017298e+05
std      1.073792e+05
min      0.000000e+00
25%      4.948800e+04
50%      9.489200e+04
75%      1.387780e+05
max      1.000000e+07
Name: odometer, dtype: float64

In [48]:
# Populate missing values with odometer median value
cars['odometer'] = cars['odometer'].fillna(cars['odometer'].median())

### Missing values for ```type```

In [49]:
# Print out variable details
variable_details('type')

There are 141515 missing values in type

The are 13 unique values in type

The unique values are
['hatchback' nan 'pickup' 'SUV' 'sedan' 'truck' 'wagon' 'van' 'coupe'
 'convertible' 'other' 'offroad' 'mini-van' 'bus']

The value frequency is
sedan          93224
SUV            92300
pickup         49547
truck          49509
coupe          19106
other          13631
hatchback      12850
wagon          10937
van            10579
convertible     7737
mini-van        7170
offroad          742
bus              712
Name: type, dtype: int64

In [50]:
# Populate missing values using 'other' categorical value
cars['type'] = cars['type'].fillna('other')

### Missing values for ```drive```

In [51]:
# Print out variable details
variable_details('drive')

There are 144128 missing values in drive

The are 3 unique values in drive

The unique values are
['4wd' nan 'fwd' 'rwd']

The value frequency is
4wd    170480
fwd    127189
rwd     67762
Name: drive, dtype: int64

In [52]:
# Populate missing values using 'missing'
cars['drive'] = cars['drive'].fillna('unknown')

### Missing values for ```paint_color```

In [53]:
# Print out variable details
variable_details('paint_color')

There are 164690 missing values in paint_color

The are 12 unique values in paint_color

The unique values are
['black' nan 'white' 'silver' 'brown' 'blue' 'grey' 'red' 'custom'
 'purple' 'yellow' 'green' 'orange']

The value frequency is
white     89321
black     70580
silver    51352
blue      34584
red       34410
grey      33289
green      9192
custom     8894
brown      7758
yellow     2533
orange     2125
purple      831
Name: paint_color, dtype: int64

In [54]:
# Populate missing values using 'other'
cars['paint_color'] = cars['paint_color'].fillna('unknown')

### Missing values for ```cylinders```

In [55]:
# Print out variable details
variable_details('cylinders')

There are 199668 missing values in cylinders

The are 8 unique values in cylinders

The unique values are
['4 cylinders' nan '8 cylinders' '6 cylinders' '10 cylinders'
 '5 cylinders' '3 cylinders' '12 cylinders' 'other']

The value frequency is
6 cylinders     111939
8 cylinders      95370
4 cylinders      95308
5 cylinders       2714
10 cylinders      2299
other             1506
3 cylinders        562
12 cylinders       193
Name: cylinders, dtype: int64

In [56]:
# Populate missing values using 'other' categorical value
cars['cylinders'] = cars['cylinders'].fillna('other')

### Missing values for ```condition```

In [57]:
# Print out variable details
variable_details('condition')

There are 231918 missing values in condition

The are 6 unique values in condition

The unique values are
['excellent' nan 'good' 'like new' 'fair' 'new' 'salvage']

The value frequency is
excellent    140662
good          97260
like new      28166
fair           9461
new            1406
salvage         686
Name: condition, dtype: int64

In [58]:
# Populate missing values using 'unknown'
cars['condition'] = cars['condition'].fillna('unknown')

### Missing values for ```model``` and ```size```

In [59]:
# Print out variable details
variable_details('model')

There are 7975 missing values in model

The are 35850 unique values in model

The unique values are
['golf r' 'f-150' 'sierra 1500' ... 'Camaro 2-door coupe'
 'Isuzu VehiCROSS' 'peterbilt 378']

The value frequency is
f-150                              11341
silverado 1500                      7405
1500                                7367
silverado                           5256
2500                                4439
                                   ...
2005 Optima 27 seat transit bus        1
silverado k1500hd                      1
wrangler unlmtd. sahara 4x4            1
quadcab longbox diesel                 1
civic si mugen                         1
Name: model, Length: 35850, dtype: int64

In [60]:
# Print out variable details
variable_details('size')

There are 341986 missing values in size

The are 4 unique values in size

The unique values are
['compact' nan 'mid-size' 'full-size' 'sub-compact']

The value frequency is
full-size      90480
mid-size       47756
compact        25221
sub-compact     4116
Name: size, dtype: int64

In [61]:
cars = cars.drop(['model', 'size'], axis=1)

Due to the number of unique values in ```model``` and the number of missing values in ```size``` along with some of the characteristics from ```model``` and ```size``` being represented by ```type```, I decided to drop ```model``` and ```size```.

### Outliers

In [62]:
def outlier_visual(column):
    plt.figure(figsize=(10, 5))
    plt.boxplot(cars[column])
    plt.title('{} Boxplot'.format(column))
    plt.show

## Data Exploration and Feature Engineering

### Univariate Analysis

#### Continous Variables

In [ ]:
def continuous_visual(column):
    plt.figure(figsize=(15, 5))
    plt.hist(cars[column])
    plt.title('{} Histogram'.format(column))
    plt.show()

#### Categorical Variables

In [69]:
def categorical_visual(column):
    plt.figure(figsize=(15, 5))
    plt.barh(cars.groupby(column)[column].count().index,
             cars.groupby(column)[column].count())
    plt.title('Horizontal bar chart for {}'.format(column))
    plt.show()

### Multivariate Analysis

## Model Creation and Performance Evaluation